@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: #e7ecf3;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

#navlinks {
    color: rgb(206, 199, 199);
    transition: scale 300ms ease-in;
}

#navlinks:hover{
    color:#fff;
    transition: color 0.2s ease-in-out;
}

.active {
    color: #fff !important;
    scale: 1.3;
}

select {
    width: 80px !important  ;
}

#footer a:hover {
    color: blue;
}

.loader {
    width: 120px;
    height: 20px;
    background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
    background-size: 300% 100%;
    background-repeat: no-repeat;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-position: right;
    }
}

@media (max-width: 576px) {
    #TodoInput,#endscreen,#ToDoList {
        width: 100% !important;
        justify-content: center;
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

   
}
